In [1]:
import numpy as np
import pandas as pd
import os

os.getcwd()
#os.chdir("G:\Quant finance\esg")

'C:\\Users\\MAYANK\\OneDrive - Georgia Institute of Technology\\Documents\\Personal Projects\\Predictive Modelling - ESG'

In [2]:
Emission_Data = pd.read_csv("Emissions_data.csv")
Emission_Data.head()

        Entity Code  Year  Annual CO₂ emissions (tonnes )
0  Afghanistan  AFG  1949                         14656.0
1  Afghanistan  AFG  1950                         84272.0
2  Afghanistan  AFG  1951                         91600.0
3  Afghanistan  AFG  1952                         91600.0
4  Afghanistan  AFG  1953                        106256.0

In [3]:
Emission_Data.dtypes

Entity                             object
Code                               object
Year                                int64
Annual CO₂ emissions (tonnes )    float64
dtype: object

In [4]:
Emission_Data.shape

(20853, 4)

In [5]:
print(Emission_Data.isnull().sum())
Emission_Data.describe()

Entity                               0
Code                              2207
Year                                 0
Annual CO₂ emissions (tonnes )       0
dtype: int64

               Year  Annual CO₂ emissions (tonnes )
count  20853.000000                    2.085300e+04
mean    1953.339424                    1.930517e+08
std       57.903089                    1.345143e+09
min     1751.000000                   -6.255223e+08
25%     1932.000000                    3.187680e+05
50%     1971.000000                    3.828880e+06
75%     1995.000000                    3.706898e+07
max     2017.000000                    3.615326e+10

In [6]:
#Emission_data[Emission_data.isnull()]
Emission_Data.head()

        Entity Code  Year  Annual CO₂ emissions (tonnes )
0  Afghanistan  AFG  1949                         14656.0
1  Afghanistan  AFG  1950                         84272.0
2  Afghanistan  AFG  1951                         91600.0
3  Afghanistan  AFG  1952                         91600.0
4  Afghanistan  AFG  1953                        106256.0

In [7]:
Emission_Data_Code_NaN = Emission_Data[Emission_Data.Code.isnull()==True]
Emission_Data_Code_NaN.to_excel("Check_NaN_Entity.xlsx")

In [8]:
Emission_Data_Coded = Emission_Data[Emission_Data.Code.isnull()==False]
Emission_Data_Coded.to_excel("Check_Coded_Entity.xlsx")

In [9]:
ESG_Data = pd.read_csv("ESG_Data.csv")
ESG_Data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2050,Unnamed: 66
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.129881,87.275323,88.720097,89.308602,90.283638,89.286856,NaN,NaN,NaN,NaN
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.641062,10.437876,6.277652,5.261868,6.385551,8.190277,NaN,NaN,NaN,NaN
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.055593,0.079402,0.086177,0.076670,0.085885,0.047916,NaN,NaN,NaN,NaN
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,27.835643,27.826564,27.845522,27.847925,27.866972,...,36.534503,36.607475,36.624759,36.610850,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
ESG_Data.shape

(16013, 67)

In [11]:
ESG_Data.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2018              float64
2019              float64
2020              float64
2050              float64
Unnamed: 66       float64
Length: 67, dtype: object

In [12]:
ESG_Data = ESG_Data.iloc[:,:65]
ESG_Data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.199474,87.512260,88.129881,87.275323,88.720097,89.308602,90.283638,89.286856,NaN,NaN
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.002144,12.850205,11.641062,10.437876,6.277652,5.261868,6.385551,8.190277,NaN,NaN
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.060245,0.061942,0.055593,0.079402,0.086177,0.076670,0.085885,0.047916,NaN,NaN
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,27.835643,27.826564,27.845522,27.847925,27.866972,...,36.440808,36.472300,36.534503,36.607475,36.624759,36.610850,NaN,NaN,NaN,NaN

In [13]:
ESG_Data = ESG_Data.melt(id_vars = ["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
             var_name = "Years",
             value_name = "Value")

In [14]:
ESG_Data['Years'] = pd.to_numeric(ESG_Data['Years'])
ESG_Data

,Country Name,Country Code,Indicator Name,Indicator Code,Years,Value
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,1960,NaN
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,1960,NaN
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN
...,...,...,...,...,...,...
976788,Zimbabwe,ZWE,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,2020,NaN
976789,Zimbabwe,ZWE,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,2020,NaN
976790,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2020,5.73
976791,Zimbabwe,ZWE,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,2020,NaN
976792,Zimbabwe,ZWE,Voice and Accountability: Estimate,VA.EST,2020,NaN

In [15]:
ESG_theme_mapping = pd.read_excel("ESG Theme Mapping.xlsx")
ESG_theme_mapping.head()

                                      Indicator Name ESG Theme Pillar
0  Access to clean fuels and technologies for coo...                E
1            Access to electricity (% of population)                E
2  Adjusted savings: natural resources depletion ...                E
3  Adjusted savings: net forest depletion (% of GNI)                E
4                 Agricultural land (% of land area)                E

In [16]:
ESG_Data = ESG_Data.merge(ESG_theme_mapping, on='Indicator Name', how='left')
ESG_Data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Years,Value,ESG Theme Pillar
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN,E
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN,E
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,1960,NaN,E
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,1960,NaN,E
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN,E

In [17]:
ESG_Data.shape

(976793, 7)

In [18]:
Final_data_by_Emissions_Data = pd.merge(left=Emission_Data, right=ESG_Data, how='left', left_on=['Code', 'Year'], right_on=['Country Code', 'Years'])
Final_data_by_Emissions_Data.head()

,Entity,Code,Year,Annual CO₂ emissions (tonnes ),Country Name,Country Code,Indicator Name,Indicator Code,Years,Value,ESG Theme Pillar
0,Afghanistan,AFG,1949,14656.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1950,84272.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1951,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1952,91600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1953,106256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
Final_data_by_Emissions_Data.shape

(723159, 11)

In [20]:
Final_data_by_Emissions_Data.drop(["Country Name", "Country Code", "Years"], axis = 1, inplace = True)
Final_data_by_Emissions_Data.head()

,Entity,Code,Year,Annual CO₂ emissions (tonnes ),Indicator Name,Indicator Code,Value,ESG Theme Pillar
0,Afghanistan,AFG,1949,14656.0,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1950,84272.0,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1951,91600.0,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1952,91600.0,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1953,106256.0,NaN,NaN,NaN,NaN

In [26]:
Final_data_by_Emissions_Data.shape

(723159, 8)

In [23]:
Final_data_by_ESG_Data = pd.merge(left=Emission_Data, right=ESG_Data, how='right', left_on=['Code', 'Year'], right_on=['Country Code', 'Years'])
Final_data_by_ESG_Data.head()

,Entity,Code,Year,Annual CO₂ emissions (tonnes ),Country Name,Country Code,Indicator Name,Indicator Code,Years,Value,ESG Theme Pillar
0,NaN,NaN,NaN,NaN,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN,E
1,NaN,NaN,NaN,NaN,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN,E
2,NaN,NaN,NaN,NaN,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,1960,NaN,E
3,NaN,NaN,NaN,NaN,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,1960,NaN,E
4,NaN,NaN,NaN,NaN,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN,E

In [24]:
Final_data_by_ESG_Data.drop(["Entity", "Code", "Year"], axis = 1, inplace = True)
Final_data_by_ESG_Data.head()

,Annual CO₂ emissions (tonnes ),Country Name,Country Code,Indicator Name,Indicator Code,Years,Value,ESG Theme Pillar
0,NaN,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1960,NaN,E
1,NaN,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,1960,NaN,E
2,NaN,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,1960,NaN,E
3,NaN,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,1960,NaN,E
4,NaN,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,1960,NaN,E

In [25]:
Final_data_by_ESG_Data.shape

(976793, 8)

In [28]:
Final_data_by_Emissions_Data.to_csv("Final_data_by_Emissions_Data.csv")

In [29]:
Final_data_by_ESG_Data.to_csv("Final_data_by_ESG_Data.csv")